* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-size: 62.5%;
    background: rgba(0, 191, 255, 0.4) url(../image/Salesforce.com_logo.svg.png) no-repeat center center;
    height: 100vh;
}

body > h1, p {
    padding: 20px;
    color: #000;
}

body > h1 {
    font-weight:550 ;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

body > p {
    font-weight: 450;
    font-size: 1.7rem; 
}

@media screen and (max-width: 760px) {
    body{
        background: rgba(0, 191, 255, 0.4);
    }
}